apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: "${DEVNET}"

labels:
- includeSelectors: true
  pairs:
    app: cloud
    env: test

resources:
- storage/
- jobs/
- mariadb/
- secrets/
- ingress/
- configmap/
- ../../base

patches:
- target:
    kind: Deployment
    name: php    
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: php
    spec:
      replicas: 1
      template:
        spec:
          volumes:
          - name: webcontent
            persistentVolumeClaim:
              claimName: www-devnet-pvc
          - name: user-data
            persistentVolumeClaim:
              claimName: userdata-devnet-pvc
- target:
    kind: Deployment
    name: nginx
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: nginx
    spec:
      template:
        spec:
          volumes:
          - name: webcontent
            persistentVolumeClaim:
              claimName: www-devnet-pvc
          - name: user-data
            persistentVolumeClaim:
              claimName: userdata-devnet-pvc
- target:
    kind: CronJob
    name: cron
  patch: |-
    apiVersion: apps/v1
    kind: CronJob
    metadata:
      name: cron
    spec:
      jobTemplate:
        spec:
          template:
            spec:
              volumes:
                - name: webcontent
                  persistentVolumeClaim:
                    claimName: www-devnet-pvc
                - name: user-data
                  persistentVolumeClaim:
                    claimName: userdata-devnet-pvc
- target:
    kind: Deployment
    name: nextcloud-exporter    
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: nextcloud-exporter
    spec:
      template:
        spec:
          containers:
            - name: exporter 
              env:
                - name: NEXTCLOUD_TLS_SKIP_VERIFY
                  value: "true"
---
